<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.beatyourpace"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.GC01.BeatYourPace.Main.ContextProvider"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.GC01.BeatYourPace.Main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.GC01.BeatYourPace.Settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.GC01.BeatYourPace.Main.MainActivity" >
        </activity>
        <activity
            android:name="com.GC01.BeatYourPace.Main.TrainingModeActivity"
            android:label="@string/title_activity_TrainingModeActivity" >
        </activity>
        <activity
            android:name="com.GC01.BeatYourPace.ArchiveFiles.DatabaseActivity"
            android:label="@string/title_activity_database" >
        </activity>
        <activity
            android:name="com.GC01.BeatYourPace.Main.LetsRunModeActivity"
            android:label="@string/title_activity_lets_run_mode" >
        </activity>

        <service
            android:name="com.GC01.BeatYourPace.BPM.RetrieveBpmService"
            android:exported="false" >
        </service>
        <service
            android:name="com.GC01.BeatYourPace.ArchiveFiles.DatabaseService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service android:name="com.GC01.BeatYourPace.Database.DatabaseIntentService" >
        </service>
        <service android:name="com.GC01.BeatYourPace.PaceCalculator.CurrentPace" >
        </service>

        <activity
            android:name="com.GC01.BeatYourPace.HelpPage.HelpPageActivity"
            android:label="@string/title_activity_help_page" >
        </activity>
    </application>

</manifest>